[user]
    name = Lucas Ou-Yang
    email = lucasyangpersonal@gmail.com
[color]
    diff = auto
[core]
    editor = vim
    autocrlf = input
[push]
    default = tracking
[branch]
    autosetuprebase = always
